/vendor/
/node_modules/
.env
.env.*
!.env.example
/public/storage
/public/build
/storage/*.key
/bootstrap/cache/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
